@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900;1000&family=Poppins:wght@300;500;700;900&family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --primary-color: #cd9c56;
  --font-family: "Nunito", sans-serif;
  --black: black;
  --white: white;
  --shadow: 0 0 10px 0 grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  padding: 0.5rem 1.2rem;
  border: 2px solid var(--primary-color);
  text-transform: uppercase;
  font: 500 1.2rem var(--font-family);
  letter-spacing: 2px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  color: var(--primary-color);
  background-color: transparent;
}
