@import url(common.css);

.filter-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.filter-section h3 {
  margin: 0.5rem 0;
}

.filter-section select {
  font-size: 1rem;
}

.filter-section label {
  margin: 0 5px;
}

select {
  text-transform: capitalize;
}
