@import url(common.css);

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  margin: 0 8px;
  color: crimson;
}
