@import url(common.css);

.loader {
  border: 16px solid rgb(197, 197, 197);
  border-radius: 50%;
  border-top: 16px solid var(--primary-color);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
