@import url(common.css);

.rooms-section {
  background-image: url("../assets/images/room-1.jpeg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
