@import url(common.css);

.searchrooms-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 4rem auto;
}

.searchrooms-cont h2 {
  font-size: 2rem;
  border-bottom: 4px solid var(--primary-color);
}

.rooms-card-cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}
